<h2>Прокат велосипеда</h2>
<form method="post">
    <label>Фамилия рабочего:</label><br />
    <input type="text" name="Surname" /><br /><br />

    <label>Имя рабочего:</label><br />
    <input type="text" name="FirstName" /><br /><br />

    <label>Отчество рабочего:</label><br />
    <input type="text" name="Patronymic" /><br /><br />

    <label>Велосипед :</label><br />
    <input type="text" name="Name" /><br /><br />

    <input type="submit" value="Вернуть" />
</form>

