<h2>Прокат велосипеда</h2>
<form method="post">
    <label>Фамилия:</label><br />
    <input type="text" name="Surname" /><br /><br />
    
    <label>Имя:</label><br />
    <input type="text" name="FirstName" /><br /><br />
    
    <label>Отчество:</label><br />
    <input type="text" name="Patronymic" /><br /><br />
    
    <label>Велосипед:</label><br />
    <input type="text" name="Name" /><br /><br />
    
    <label>Депозит</label><br />
    <input type="text" name="deposit" /><br /><br />

    <input type="submit" value="добавить" />
</form>

