@model IEnumerable<RentPointViewModel>
<style type="text/css">
   #col1 {
    width: 30%; 
    vertical-align: middle; 
   }
   #col2 {
    width: 20%;
    vertical-align: middle; 
   }
</style>
  <table class="table">
        <tr>
            <td id="col1">Работник</td>
            <td id="col1">Велосипеды</td>
            <td id="col2">Деньги в кассе</td>
            <td id="col2">Сейф</td>
        </tr>
        @foreach (RentPointViewModel rentPoint in Model)
        {
            
            <tr>
                
                <td >@rentPoint.Employee.FullName</td>
                <td>
                    @foreach(Bike bike in rentPoint.Bikes)
                    {
                       <p> @bike.Name</p>
                    }
                </td>
                <td>@rentPoint.Cashbox.Money</td>
                <td>
                    @foreach (PassportDeposit passport in rentPoint.Safe.PassportDeposits)
                    {
                        <p> @passport.Series
                        :@passport.Number</p>
                    }
                </td>
            </tr>
        }
    </table>
<form action="~/AddRentPoint/AddRentPoint">
    <button type="submit">Добавить</button>
</form>
