@model BikeViewModel
<h2>Добавление нового велосиипеда</h2>
<form method="post">
    <label>Название велосипеда:</label><br />
    <input type="text" name="Name" /><br/><br />
    
    <label>Цена:</label><br />
    <input type="number" name="HourCost" /><br /><br />

    <input type="submit" value="Добавить" />
</form>
      