<h2>Добавление нового велосиипеда на точку проката</h2>
<form method="post">
    <label>Название велосипеда:</label><br />
    <input type="text" name="Name" /><br /><br />

    <label>Фамилия работника:</label><br />
    <input type="text" name="Surname" /><br /><br />

    <label>Имя работника:</label><br />
    <input type="text" name="FirstName" /><br /><br />

    <label>Отчество работника:</label><br />
    <input type="text" name="Patronymic" /><br /><br />

    <input type="submit" value="Добавить" />
</form>
