<h2>Добавление точки проката</h2>
<form method="post">
    <label>Фамилия работника:</label><br/>
    <input type="text" name="secodName"/><br /><br />
    <label>Имя работника:</label><br />
    <input type="text" name="firstName" /><br /><br />
    <label>Отчество работника:</label><br />
    <input type="text" name="patronymic" /><br /><br />
    <label>Сумма на кассе:</label><br />
    <input type="number" name="money" /><br /><br />
    <input type="submit" value="добавить"/>
</form>
