<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="~/RentPoints/RentPoints" class="navbar-brand">Точки проката</a></li>
                    <li><a href="~/Rents/List" class="navbar-brand">Прокаты</a></li>
                    <li><a href="~/Bikes/List" class="navbar-brand">Велосипеды</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2017 - Прокат велосипедов</p>
        </footer>
    </div>
</body>
</html>